#veditor {
    background-image: url(https://s1.ax1x.com/2022/05/18/Oor0Gd.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}