#veditor {
    background-image: url(https://gitee.com/superendermansm/shenmo-map-bed/raw/master/%E5%9B%BE%E5%BA%8A/amber-comment.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}