
#wl-edit {
    background: url("https://s1.ax1x.com/2022/05/18/Oor0Gd.png") 100% 100% no-repeat;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right bottom !important; 
    
}

